{% extends 'base.html.twig' %}


{% block title %}ADMIN - Gérer les campus{% endblock %}



{% block container %}campusForm{% endblock %}
{% block body %}
    <h1>Gérer les campus</h1>

    <h3>Filtrer les sites</h3>


    {% if tousCampus is not empty %}

        {{ form_start(form_searchC) }}
        <div class="champSearchCampus">
            {{ form_row(form_searchC.recherche) }}
        </div>
        <div class="btnSearchCampus">
            {{ form_row(form_searchC.rechercher) }}
        </div>
        {{ form_end(form_searchC) }}


        <div class="campusForm">
        <div data-path="{{ path('supprCampus') }}" class="supprimerCampus">
            <table id="tabCampus" class="tabCampus">
                <thead>
                <tr>
                    <th>Campus</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for campus in tousCampus%}
                    <tr class="tabRow">
                        <td id="{{ campus.id }}">{{ campus.nom }}</td>
                        <td class="tabCase">
                            <button data-nom="{{ campus.nom }}" data-id="{{ campus.id }}"
                                    class="btn modifCampus"
                                    data-toggle="modal" data-target="#modifCampus">Modifier</button>
                            <button data-campus="{{ campus.id }}" class="btn supprCampus" title="Suppression du campus"
                                    {# data-toggle="modal" data-target="#supprCampus" #}
                            >Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    {{ form_start(form_campus) }}
                    <td>{{ form_row(form_campus.nom) }}</td>
                    <td>{{ form_row(form_campus.Ajouter) }}</td>
                    {{ form_end(form_campus) }}
                </tr>
                </tbody>
            </table>
            <input class="urlCampusModif" type="hidden" data-path="{{ path('modifCampus') }}">
        </div>
        </div>
    {% else %}
        <div>
            {{ baseVide}}
        </div>

        {{ form_start(form_searchC) }}
        <div class="champSearchCampus">
            {{ form_row(form_searchC.recherche) }}
        </div>
        <div class="btnSearchCampus">
            {{ form_row(form_searchC.rechercher) }}
        </div>
        {{ form_end(form_searchC) }}

        <div class="campusForm">
            <div data-path="{{ path('supprCampus') }}" class="supprimerCampus">
                <table id="tabCampus" class="tabCampus">
                    <thead>
                        <tr>
                            <th>Campus</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            {{ form_start(form_campus) }}
                            <td>{{ form_row(form_campus.nom) }}</td>
                            <td>{{ form_row(form_campus.Ajouter) }}</td>
                            {{ form_end(form_campus) }}
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>





    {% endif %}










    </tbody>




    </table>






    <!-- Fenêtre pop-up de confirmation de suppression -->
    <div class="modal fade" id="modifCampus" tabindex="-1" role="dialog"
         aria-labelledby="modifCampusLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifCampusLabel">Modifier le campus</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="nomCampus">Nom à modifier : </label>
                    <input class="nomCampus" name="nomCampus" id="nomCampus">
                    <p style="visibility: hidden" id="idCampus"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="fa fa-times"></i> Annuler</button>
                    <button class="btn campusAModif"><i class="fa fa-check"></i> Modifier le nom</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/campus.js') }}"></script>
{% endblock %}
