<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
<header></header>
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        {% if app.user %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{{ path('listeSorties') }}" class="nav-link" title="Accueil">Accueil</a>
            </li>
            <li class="nav-item active">
                <a href="{{ path('modif_profil') }}" class="nav-link" title="Voir le détail de mon profil">Mon profil</a>
            </li>
        </ul>
        {% endif %}
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{{ path('listeSorties') }}">
            <img src="{{ asset('img/Logo-lisible.png') }}" alt="LOGO Sortir.com">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        {% if app.user %}
        <ul class="navbar-nav ml-auto">
            {# <li class="nav-item">
                <a class="nav-link">Bonjour, {{app.user.pseudo}}</a>
            </li>
            #}
            <li class="nav-item active">
                <a href="{{ path('app_logout') }}" class="nav-link" title="Déconnection">Se déconnecter</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
</header>


</body>
</html>