{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block container %}pageMonProfil{% endblock%}

{% block body %}
    <h1>Mon profil</h1>

    {% form_theme profil_form 'bootstrap_4_layout.html.twig'%}



    <div class="row">

        <div class="col-md-3">
            {{ form_start(profil_form) }}
            {% if app.user.nomPhoto %}
            <div class="picProfil">
                <img src="img/small/{{ app.user.nomPhoto }}" alt="Photo de profil">
            </div>
            {% endif %}
            <div class="choixPic">

                {{ form_label(profil_form.photo, app.user.nomPhoto ?
                    'Modifier votre image de profil :' : 'Ajouter une image de profil :') }}
                {{ form_widget(profil_form.photo) }}
            </div>
        </div>

        <div class="col-md-3 affichProfil">




            {{ form_row(profil_form.pseudo) }}
            {{ form_row(profil_form.nom) }}
            {{ form_row(profil_form.prenom) }}
            {{ form_row(profil_form.telephone) }}
            {{ form_row(profil_form.mail) }}
            {{ form_row(profil_form.campusNoCampus) }}
        </div>

            <div class="col-md-4 modifPW">
            <fieldset class="border p-2">
                <legend class="w-auto">Souhaitez-vous modifier votre mot de passe ?</legend>

                    {{ form_row(profil_form.plainPassword) }}
            </fieldset>
            </div>

        <div class="col-md-2"></div>

        <div class="modifBtn">
            <button type="submit" class="btn" formnovalidate><i class="fa fa-check"></i> Enregistrer les modifications</button>
            <button type="reset" class="btn"><i class="fa fa-times"></i> Annuler les modifications</button>
        </div>

            {{ form_end(profil_form) }}



    </div>

    <div class="back">
        <a href="{{ path('AccueilSorties') }}">
            <button class="btn"><i class="fa fa-arrow-left"></i> Retour</button>
        </a>
    </div>

{% endblock %}


