{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <div class="containerForm">
        <div class="sortieForm" data-path="{{ path('change_infos_lieu')~"?selVal=" }}">
            <div class="divLieu" data-path="{{ path('change_select_lieu')~"?selVal=" }}">
            {# {{ form(sortie_form) }} #}
            {{ form_start(sortie_form) }}
            {{ form_row(sortie_form.nom) }}
            {{ form_row(sortie_form.datedebut) }}
            {{ form_row(sortie_form.datecloture) }}
            {{ form_row(sortie_form.nbinscriptionsmax) }}
            {{ form_row(sortie_form.duree) }}
            {{ form_row(sortie_form.descriptioninfos) }}
            {{ form_row(sortie_form.Campus) }}
            {% if sortie.lieuxNoLieu.nom is not empty %}
                {{ form_row(sortie_form.Ville)}}
                {{ form_row(sortie_form.lieux_no_lieu, {'attr': {'value':sortie.lieuxNoLieu.nom}})}}
                {{ form_row(sortie_form.Rue, {'attr': {'value':sortie.lieuxNoLieu.rue}})}}
                {{ form_row(sortie_form.Latitude, {'attr': {'value':sortie.lieuxNoLieu.latitude}})}}
                {{ form_row(sortie_form.Longitude, {'attr': {'value':sortie.lieuxNoLieu.longitude}})}}
                {% else %}
                    {{ form_row(sortie_form.Ville) }}
                    {{ form_row(sortie_form.lieux_no_lieu)}}
                    {{ form_row(sortie_form.Rue)}}
                    {{ form_row(sortie_form.Latitude)}}
                    {{ form_row(sortie_form.Longitude)}}
            {% endif %}
            {{ form_end(sortie_form) }}
            </div>
            <div class="divAjoutLieu" data-path="{{ path('ajout_lieu') }}" style="display: none">
                <div class="erreur"></div>
                {{ form_start(lieu_form) }}
                {{ form_row(lieu_form.villes_no_ville) }}
                {{ form_widget(lieu_form) }}
                <button id="ajoutLieu" name="ajoutLieu">Ajout Lieu</button>
                {{ form_end(lieu_form) }}
            </div>

            <button id="ouvrirAjoutLieu" name="ouvrirAjoutLieu">+</button>
            <input id="idVilleSelect" type="hidden" data="{{ sortie.lieuxNoLieu.villesNoVille.id }}">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/creationSortie.js') }}"></script>
{% endblock %}
