{% extends 'base.html.twig' %}

{% block url %}../{% endblock %}

{% block title %}Gérer les villes{% endblock %}

{% block body %}
    <h1>Gérer les villes</h1>
    {% form_theme ville_form 'bootstrap_4_layout.html.twig' %}
    <div class="containerVille">
        {% if villes is not empty %}
        <div class="contentVille">
            <div class="divRecherche">
                <input type="search" id="searchVille" name="searchVille" data-path="{{ path('rechercherVille') }}"
                       placeholder="Rechercher une ville">
                <div class="ville-list"></div>
            </div>
            <div data-path="{{ path('suppr_ville') }}" class="supprimerVille">
                <table rules="all" class="listVille">
                    <thead>
                    <tr>
                        <td>Ville</td>
                        <td>Code postal</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    {% for ville in villes %}
                        <tr align="center">
                            <td class="tdNomVille" id="{{ ville.id }}">{{ ville.nom }}</td>
                            <td class="tdCodePostalVille">{{ ville.codePostal }}</td>
                            <td>
                                <button data-ville="{{ ville.id }}" class="modifier btn">Modifier</button>
{#                                <button data-ville="{{ ville.id }}" class="supprimer btn">Supprimer</button>#}

                                <button data-nom="{{ ville.nom }}" data-id="{{ ville.id }}" class="btn supprVille" title="Suppression de la ville"
                                        data-toggle="modal" data-target="#supprVille"
                                >Supprimer
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        {{ form_start(ville_form) }}
                        <td>{{ form_row(ville_form.nom) }}</td>
                        <td>{{ form_row(ville_form.codePostal) }}</td>
                        <td id="btnAjouterVille">{{ form_row((ville_form.Ajouter)) }}</td>
                        {{ form_end(ville_form) }}
                    </tr>
                </table>
                <input class="urlVille" type="hidden" data-path="{{ path('recupVille') }}">
                <input class="urlVilleModif" type="hidden" data-path="{{ path('modifVille') }}">
            </div>
            {% else %}
                <div>
                    Aucune ville n'est encore présente.
                    <div>
                        {{ form_start(ville_form) }}
                        {{ form_row(ville_form.nom, {'attr': {'placeholder':"Nom de la ville"}}) }}
                        {{ form_row(ville_form.codePostal, {'attr': {'placeholder':"Code Postal de la ville"}}) }}
                        {{ form_row((ville_form.Ajouter)) }}
                        {{ form_end(ville_form) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="back">
        <a href="{{ path('AccueilSorties') }}">
            <button class="btn"><i class="fa fa-arrow-left"></i> Retour</button>
        </a>
    </div>
    <!-- Fenêtre pop-up de confirmation de suppression-->
    <div class="modal fade" id="supprVille" tabindex="-1" role="dialog"
         aria-labelledby="supprVilleLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="supprVilleLabel">Supprimer la ville</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="visibility: hidden" id="idVilleASuppr"></p>
                    Voulez-vous supprimer la ville : <a></a> ?
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="fa fa-times"></i> Annuler</button>
                    <button class="btn villeASuppr"><i class="fa fa-check"></i> Supprimer la ville</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/villes.js') }}"></script>
{% endblock %}