<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}SORTIR.COM!{% endblock %}</title>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <!--<link rel="icon" href="{{ asset('img/Favicon.png') }}">-->
        <link rel="icon" href="{{ asset('img/Favison-S.png') }}">
        {% block stylesheets %}{% endblock %}


    </head>
    <body>
    <div id="page">
    <header style="background: darkgoldenrod url({{ asset('img/city_night_cut.jpg') }});
            background-size: cover">
        <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                {% if app.user %}
                    <ul class="navbar-nav mr-auto">
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li class="nav-item active">
                                <a href="{{ path('liste_ville') }}" class="nav-link" title="Villes">Villes</a>
                            </li>
                        {% endif %}
                        <li class="nav-item active">
                            <a href="{{ path('AccueilSorties') }}" class="nav-link" title="Accueil">Accueil</a>
                        </li>
                        <li class="nav-item active">
                            <a href="{{ path('modif_profil') }}" class="nav-link" title="Voir le détail de mon profil">Mon profil</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="{{ path('AccueilSorties') }}">
                    <img src="{{ asset('img/logo-final-transp.png') }}" alt="LOGO Sortir.com">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                {% if app.user %}
                    <ul class="navbar-nav ml-auto">
                        {# <li class="nav-item">
                <a class="nav-link">Bonjour, {{app.user.pseudo}}</a>
            </li>
                        #}
                        <li class="nav-item active">

                            <button type="button" class="nav-link disconnectBtn" title="Déconnection"
                            data-toggle="modal" data-target="#disconnect" data-backdop="false">Se déconnecter</button>
                        </li>
                    </ul>


                {% endif %}
            </div>
        </nav>
        </div>
    </header>

    <main>
        <div id="content">

            {% block beforeContainer %}{% endblock %}

        <div class="container {% block container %}{% endblock %}">
        {# Pour afficher et personnaliser tous les messages flash #}
        {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}

        {% endfor %}
    {% block body %}{% endblock %}











        </div>
        </div>
    </main>

    <footer style="background: darkgoldenrod url({{ asset('img/city_night_cut.jpg') }})
           bottom ; background-size: cover">
        <div class="container">
            &copy; ENI {{ "now"|date("Y") }} : Gael HERAMBOURG, Pierre PINSON, Victor AVRON
        </div>
    </footer>

    {% block js %}{% endblock %}
    </div>
    <!-- Fenêtre pop-up de confirmation de déconnection -->
    <div class="modal fade" id="disconnect" tabindex="-1" role="dialog"
         aria-labelledby="disconnectLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="disconnectLabel">On se dit au revoir ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        Voulez-vous vous déconnecter ?
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal"><i class="fa fa-times"></i> Annuler</button>
                        <a href="{{ path('app_logout') }}">
                            <button class="btn"><i class="fa fa-check"></i> Confirmer</button>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    </body>
</html>



